.cardProducto {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: justify;
}

.cardProducto img {
    width: 150px;
}