.contenedorItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(228, 228, 228);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .detalles {
    flex: 1;
    margin-right: 20px;
  }
  
  .imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info {
    flex: 1;
  }
  
  .titulo {
    font-size: 2rem;
  margin-bottom: 10px;
  color: #333; 
  text-decoration: underline;
}

.descripcion {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #436955;
    margin-bottom: 20px;
  }
  
  .acciones {
    gap: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  
  .boton-terminar,
  .boton-seguir {
    text-decoration: none;
    background-color: #587759;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
  
  .boton-seguir {
    background-color: #587759;
    ;
  }
  
  .boton-terminar:hover,
  .boton-seguir:hover {
    background-color: #759e76;
  }
  
  .sinopsis {
    flex: 1;
    text-align: left;

  }
  
  .sinopsis h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }